
$body-bc:#2c3e50;
$letters-color:#fff;
$footer-bc:rgba($color: #666, $alpha: 0.8);
$log-in-btn:#8e44ad;
$login-bc:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,9,121,1) 35%, rgba(255,0,219,1) 100%);
$decoration-bc: rgba($color: #777, $alpha: 0.15);
